
/*Nest CSS*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.nest-folder-input-prompt {
  background-color: transparent;
  border-style: none;
  font-size: 0.9em;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
  background-color: #fff;
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;

  &:focus {
    outline: none;
  }
}

#nest-main {
  position: relative;
}

.nest-ul {

  /*list-style-type: none;*/

  &.main {
    position: relative;

    &.over {
      border: 2px dashed #000;
    }
  }

  input + li.nest-li-group {
    list-style-type: none;
  }

  .nest-li {

/*    webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
*/
    height: auto;
    width: auto;
    /*padding: 0.5em;*/
    z-index: 99;
    position: relative;
    &:hover:not(.nest-li-group) {
      color: #3a93ac;
    }
    &.nest-li-group {
      height: 100%;
      position: relative;

      > .nest-div {
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        margin-bottom: -2em;
        &.active {
          display: block;
          z-index: 99;
        }
      }

    }

    .nest-span {
      font-weight: bold;
      display: block;
      z-index: 0;
    }

    &.over {
      border: 2px dotted #000;
    }

  }

}


